<article>
  <header>
    <h2>
      Builder
    </h2>
  </header>

  <section>
    <h3>Football field</h3>

    <div class="test" *ngFor="let key of footballField | keys">
      <span>
        {{ key }}:
        {{ footballField[key] }}
      </span>
    </div>
  </section>

  <section>
    <h3>Handball field</h3>

    <div class="test" *ngFor="let key of handballField | keys">
      <span>
        {{ key }}:
        {{ handballField[key] }}
      </span>
    </div>
  </section>

  <section>
    <h3>Football training field</h3>

    <div class="test" *ngFor="let key of footballTrainingField | keys">
      <span>
        {{ key }}:
        {{ footballTrainingField[key] }}
      </span>
    </div>
  </section>
</article>
